body {
  background-image: url('mainPage.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cta-buttons {
  display: flex;
  margin-top: 100px;
  gap: 30px;
  justify-content: center;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #495e74;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s eae;
}

.cta-button:hover {
  background-color: #70b1f7;
}

.index-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 60px;
  font-family: Arial, Helvetica, sans-serif;
}